<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <section class="bg-gray-900 text-white lg:text-2xl">
      <header class="pt-4">
        <h1 class="text-4xl text-center mt-10 font-extrabold mb-4 lg:text-5xl">
          My Projects
        </h1>
      </header>
      <main>
        <div class="container mx-auto py-4">
          <div
            class="flex grid flex-row sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-5 px-4 xl:px-16"
          >
            <div
              class="bg-white text-zinc-900 rounded-lg shadow-md p-6 hover:shadow-xl transition-shadow shadow-cyan-500"
            >
              <img
                class="aspect-video p-1 rounded-lg mb-2"
                src="/src/components/images/e-commerce.png"
                alt="e-commerce"
              />
              <h3 class="font-bold text-2xl">E-Commerce Platform</h3>
              <p class="my-2 text-sm mb-3">
                An online marketplace where users can browse products, add items
                to their cart, and complete purchases through a secure checkout
                process. The platform includes user authentication, payment
                gateway integration, and an admin panel for managing products
                and orders.
              </p>
              <div class="flex flex-wrap gap-2 mb-4">
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  React.js + Tailwind CSS
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  Laravel
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  MySQL + MongoDB
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  Stripe
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  Firebase
                </p>
              </div>
              <a
                href="#"
                class="flex items-center text-sm text-blue-600 hover:text-blue-800"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  class="mr-2"
                >
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                  />
                </svg>
                View on GitHub
              </a>
            </div>
            <div
              class="bg-white text-zinc-900 rounded-lg shadow-md p-6 hover:shadow-xl transition-shadow shadow-cyan-500"
            >
              <img
                class="aspect-video p-1 rounded-lg mb-2"
                src="/src/components/images/task_management.png"
                alt="task_management"
              />
              <h3 class="font-bold text-2xl">Task Management Application</h3>
              <p class="my-2 text-sm mb-3">
                A productivity tool that allows users to create, manage, and
                track their tasks. Users can categorize tasks, set deadlines,
                and collaborate with team members in real time.
              </p>
              <div class="flex flex-wrap gap-2 mb-4">
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  NestJS
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  PostgreSQL
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                  OAuth 2.0
                </p>
              </div>
              <a
                href="#"
                class="flex items-center text-sm text-blue-600 hover:text-blue-800"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  class="mr-2"
                >
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                  />
                </svg>
                View on GitHub
              </a>
            </div>
          </div>
          <div
            class="flex grid flex-row sm:grid-cols-1 md:grid-cols-3 xl:grid-cols-3 gap-5 px-4 my-5 xl:px-16"
          >
            <div
              class="bg-white text-zinc-900 rounded-lg shadow-md p-6 hover:shadow-xl transition-shadow shadow-cyan-500"
            >
              <img
                class="aspect-video p-1 rounded-lg mb-2"
                src="/src/components/images/healthcare_appointment_system.png"
                alt="healthcare_appointment_system"
              />
              <h3 class="font-bold text-2xl">Healthcare Appointment System</h3>
              <p class="my-2 text-sm mb-3">
                A system that allows patients to book appointments with doctors,
                receive notifications, and manage medical records. Doctors can
                manage schedules and access patient history.
              </p>
              <div class="flex flex-wrap gap-2 mb-4">
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                React.js
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                Spring Boot
                </p>
                <p
                  class="bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-sm"
                >
                MongoDB
                </p>
              </div>
              <a
                href="#"
                class="flex items-center text-sm text-blue-600 hover:text-blue-800"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  class="mr-2"
                >
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                  />
                </svg>
                View on GitHub
              </a>
            </div>
            <div
              class="bg-white text-zinc-900 rounded-lg shadow-md p-6 hover:shadow-xl transition-shadow shadow-cyan-500"
            ></div>
            <div
              class="bg-white text-zinc-900 rounded-lg shadow-md p-6 hover:shadow-xl transition-shadow shadow-cyan-500"
            ></div>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
