<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
  <body>
    <section class="bg-gray-900 text-white m-auto">
        <header class="pt-4">
        <h1 class="text-4xl text-center mt-20 font-extrabold mb-15">
            My Skills
          </h1>
        </header>
        <div class="grid grid-cols-1  gap-8 max-w-screen-xl px-6 mx-auto items-center">
          


    <div class="m-7 max-w-2xl mx-auto text-center md:text-leftight ">
        <h2 class="text-2xl font-bold mb-4">Languages</h2>
        <div class="max-w-xl bg-white text-black pr-4 border-4 rounded-3xl pt-4 font-medium ">
        <p class="pl-4">
            JavaScript/TypeScript: Proficient in front-end & back-end development.
        </p>
        <p class="pl-4">
            PHP: Extensive experience in server-side scripting.
        </p>
        <p class="pl-4">
            Java: Expertise in native Android development.
        </p>
        <p class="pl-4 pb-5">
            Dart: Basic experience with Flutter.
        </p>
    </div>
        <h2 class="text-2xl font-bold mb-4 mt-5">Front-End Development</h2>
        <div class="max-w-xl bg-white text-black pr-4 border-4 rounded-3xl pt-4 font-medium">
        <p class="pl-4">
            Frameworks: Nuxt.js (Vue.js), Next.js (React.js).
        </p>
        <p class="pl-4 pb-5">
            Styling: TailwindCSS, Bootstrap, CSS3.
        </p>
        </div>
        <h2 class="text-2xl font-bold mb-4 mt-5">Back-End Development</h2>
        <div class="max-w-xl bg-white text-black pr-4 border-4 rounded-3xl pt-4 font-medium">
        <p class="pl-4">
            Frameworks: Laravel, NestJS.
        </p>
        <p class="pl-4">
            Databases: MySQL, PostgreSQL, MongoDB.
        </p>
        <p class="pl-4 pb-5">
            API: RESTful APIs, GraphQL.
        </p>
    </div>

        <h2 class="text-2xl font-bold mb-4 mt-5">Mobile Development</h2>
        <div class="max-w-xl bg-white text-black pr-4 border-4 rounded-3xl pt-4 font-medium">
        <p class="pl-4">
            Android: Strong experience with native Android.
        </p>
        <p class="pl-4 pb-5">
            Flutter: Basic cross-platform app development.
        </p>
        </div>

        <h2 class="text-2xl font-bold mb-4 mt-5">Core Strengths</h2>
        <div class="max-w-xl bg-white text-black pr-4 border-4 rounded-3xl pt-4 font-medium">
        <p class="pl-4 ">
            Strong MVC & Microservices understanding.
        </p>
        <p class="pl-4 ">
            Strong MVC & Microservices understanding.
        </p>
        <p class="pl-4 pb-10">
            Effective in Agile teams with excellent problem-solving skills.
        </p>
    </div>
    </div>
    </div>
    

    </section>
  </body>
</html>