<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
  <body>
    <section class="bg-gray-900 text-white">
        <header class="pt-4">
            <h1 class="text-4xl text-center mt-10 font-extrabold mb-8">
              About me
            </h1>
          </header>
            <main>
                <div class="grid justify-center ">
                <img class="w-3xs border-2 rounded-full object-cover" src="http://127.0.0.1:5501/src/components/images/woman-4609514_1920.jpg">
                
                </div>
            </main>
    </section>
  </body>
</html>