<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
  <body>
    <section class="bg-gray-900 text-white m-auto">
        <header class="pt-4">
            <h1 class="text-4xl text-center mt-20 font-extrabold mb-8">
              About me
            </h1>
          </header>
            <main>
                <div class="m-auto grid grid justify-center ">
                <img class="w-64 h-64 border-4 rounded-full object-cover" src="/src/components/images/woman-4609514_1920.jpg">
                </div>
                <div class="max-w-2xl mx-auto text-justify">
                
                <h2 class="p-4 text-3xl">
                    Education
                </h2>
                <p class="pl-4">
                    Bachelor of Science in Computer Science 
                </p>
                <p class="pl-4">
                    From Burapha University
                </p>
                <p class="pl-4 pb-4">
                    In 2017 - 2021
                </p>
                <p class="pt-5 p-4">
                    Hi, I’m Michel Landora, a full-stack developer with over 4 years of experience in building websites and apps that make a difference. I’m passionate about creating digital solutions that are easy to use, visually appealing, and solve real-world problems. I love creating websites and apps that are simple to use and solve real problems.
                </p>
                <p class="p-4">
                    I thrive in tackling complex problems and turning ideas into polished products. With a keen eye for detail and a dedication to clean, maintainable code, I work collaboratively to bring innovative projects to life.
                </p>
                <p class="p-4 pb-10">
                    Let’s create something great together!
                </p>
                </div>
            </main>
    </section>
  </body>
</html>